*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

body {
  background: #dfdeef;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

/* Main div */
.container {
  margin-top: 3rem;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 600px;
}

/* all button */
button,
.inputImgLabel {
  cursor: pointer;
  background: none;
  color: tomato;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

/* all button */
input {
  outline: none;
  padding: 5px 14px;
  border: 1px solid #ddd;
}

input[type="text"] {
  padding: 8px 17px;
}

/* All paragraph */
p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 5px;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
}

/* Color Show div .colorPed */
.colorPed {
  height: 200px;
  background: #dfdeef;
  /* margin: 10px; */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* hr */
hr {
  margin: 15px 0px;
}

/* Color Change Style */
.colorFun {
  display: flex;
  flex-direction: column;
}

/* Color Copy Div */
.copyBoard {
  display: flex;
  justify-content: space-between;
}

/* Color Input field */
.select {
  display: flex;
  justify-content: space-between;
}

.selectRadioDiv {
  display: flex;
}

/* Input Field */
.inputDiv {
  display: flex;
  justify-content: space-between;
}

.inputDiv div {
  display: flex;
  align-items: center;
  /* width: 100%; */
}

.Inp input {
  width: 220px;
  margin: 10px;
}

/* colorAdjust  field*/
.colorAdjust {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.range {
  display: flex;
  justify-content: space-between;
}

/* Select colors */
.Selectcolors {
  margin: 10px;
}

/* # Hex */
.hexinp::before {
  position: absolute;
  content: "#";
  color: black;
  font-weight: 600;
  margin-left: 40px;
  padding: 2.3px;
}

.toastMsg {
  position: fixed;
  top: 1rem;
  right: 2rem;
  font-weight: 600;
  background: #ffe16a;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.toastAnimationIn {
  -webkit-animation: ToastAnimationIn 0.5s ease-in;
  animation: ToastAnimationIn 0.5s ease-in;
}

.toastAnimationOut {
  -webkit-animation: ToastAnimationOut 0.5s ease-in;
  animation: ToastAnimationOut 0.5s ease-in;
}

@-webkit-keyframes ToastAnimationIn {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes ToastAnimationIn {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes ToastAnimationOut {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(200px);
    opacity: 0;
  }
}
@keyframes ToastAnimationOut {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(200px);
    opacity: 0;
  }
}
.presetColorDiv {
  display: flex;
  flex-wrap: wrap;
}

.presetColor {
  width: 15%;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.saveButton {
  margin-right: 10px;
}

input:disabled {
  color: black;
}

/* Input Image */

.imgField {
  width: 100%;
  height: 300px;
  background: #ffe16a;
  margin-bottom: 20px;
}
#fileChoose {
  display: none;
}
/* style Add background Div */
.selectDiv {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.selectBackgroundStyle{
  display: none;
}
